.vscode/
.venv/
*.pyc
__pycache__/
.git/
.github/
.azure/
.python_packages/
.pytest_cache/

.env
local.settings.json

__blobstorage__
__queuestorage__
__azurite_db*__.json

node_modules/
dist/
build/
*.log
